<div class="footer">
  <div class="footer-link">
    <h2>Visit us on.. <a target="_blank" href="https://www.facebook.com/alavastroncafe"><i class="fab fa-facebook-square"></i></a></h2>
  </div>
  <div class="footer-copyright">
   <h2> Cafe Bar <i class="fas fa-heart"></i> Alavastron&copy;</h2>
  </div>
</div>
